{% extends 'main/base.html'%}
{% load static %}

{% block buttons_for_warehouses %}
<div class="warehouse-header">
    <div class="warehouse-title">
        <a href="{% url 'warehouse' wh_slug %}"
           style="color: black;
                  text-decoration: none;">
            <h3>{{warehouse.name}} Tickets:</h3>
        </a>
    </div>
    <div class="search">
        <form action="" method="get" class="search-form">
            <input  name="search"  type="text" placeholder="Search Ticket# or Order#">
            <input class="info-btn" type="submit" value="Search">
        </form>
    </div>
    <div class="div-filter">
        <details class="filter">
        <summary>Filters</summary>
        <div class="status_selector" style="background:#f1f1f1">

    {% if status_selected == 'Pending' %}
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug %}">All</a>
        <a class= 'primary-btn' href="{% url 'warehouse' wh_slug%}?status=Pending">Pending</a>
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug%}?status=Completed">Completed</a>
        {% elif status_selected == 'Completed' %}
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug %}">All</a>
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug%}?status=Pending">Pending</a>
        <a class= 'primary-btn' href="{% url 'warehouse' wh_slug%}?status=Completed">Completed</a>
        {% else %}
        <a class= 'primary-btn' href="{% url 'warehouse' wh_slug %}">All</a>
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug%}?status=Pending">Pending</a>
        <a class= 'secondary-btn' href="{% url 'warehouse' wh_slug%}?status=Completed">Completed</a>
        {% endif %}
        </div>
            {% if status_selected == 'Completed' %}
    <form action="" method="get">
      <label for="completed_at">Completion date:</label>
        <input name="status" type="hidden" value="Completed"/>
      <input type="date" id="completed_at" name="completed_at" data-date-inline-picker="true" value="{{today}}"
             style="font-size:16px">
      <input class="info-btn" type="submit" value="Search">
    </form>
{% endif %}
        </details>
    </div>
</div>
{% endblock buttons_for_warehouses %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/warehouse.css' %}">
{% if searching == '' %}
{% else %}
<h4>{{searching}}</h4>
{% endif %}
<div class="dash-board">
    {% for ticket, files in file_dict.items %}
    <div>
      {% if ticket.consol %}
        <button class="collapsible">Ticket# {{ ticket.pk }}-{{ticket.type}} Consolidated
            <br>Due:<b>{{ticket.due_time}}</b>
            <br>Order:<b>{{ticket.order_nums}}</b>
        </button>
      {% else %}
        <button class="collapsible">Ticket# {{ ticket.pk }}-{{ticket.type}} Dedicated
            <br><b>Due:{{ticket.due_time}}</b>
            <br>Order:<b>{{ticket.order_nums}}</b>
        </button>
      {% endif %}
        <div class="content">
            <table class="paleBlueRows">
                <tbody>
                <tr>
                <td>Manifest#:</td>
                <td>{{ticket.manifest_num}}</td>
                </tr>
                <tr>
                <td>Truck and trailer#:</td>
                <td>{{ticket.truck}},{{ticket.trailer}}</td>
                </tr>
                <tr>
                <td>Instructions:</td>
                <td>{{ticket.instructions}}</td>
                </tr>
                <tr>
                <td>Requested by:</td>
                <td>{{ticket.user}}</td>
                </tr>


                    {% for file, format  in files.items %}

                        {% if format == 'pdf' %}
                            <tr>
                                <td>Files:</td>
                                <td>
                                    <a class="picture-link" href="{{file.file.url}}" target="_blank">{{file.file}}
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Files:</td>
                                <td>
                                    <img class="picture-link" src="{{file.file.url}}">
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}


                </tbody>
            </table>
        {% if ticket.status == 'Completed' %}
        <a href="{% url 'completed' wh_slug ticket.pk%}" class='info-btn'>More details</a>
        {% else %}
        <a href="{% url 'ticket' wh_slug ticket.pk%}" class='info-btn'>More details</a>
        {% endif %}
    </div>
    </div>


    {% endfor %}
</div>


<script src="{% static 'main/js/warehouse.js' %}"></script>
{% endblock content %}



