/*div.tableContain {
margin: auto;
width: 80%;
padding: 10px;
overflow: auto;
}*/
.tableContain {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 10px;
grid-row-gap: 7px;
width:50%;
margin: 20px auto auto auto;
}

.detailed-image{
    display:block;
    width: 100%
}

.back-icon{
    width:25px
}

@media screen and (max-width: 500px) {
    .tableContain {
        margin: auto;
        width: 100%;
        padding: 10px;
    }

}
